* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.6;
  color: #926239;
  background-color: rgb(244, 244, 244);
}

header {
  text-align: center;
  padding: 35vh 20px;
  font-size: 20px;
}

.showcase {
  background-image: url("./images/IMGSEA.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.format-text {
  padding: 25px;
  text-align: center;
}

.dark {
  color: white;
  background-color: #926239;
}
.light {
  color: #926239;
  background-color: rgb(244, 244, 244);
}

.boxes {
  font-size: 0;
}

.box {
  display: inline-block;
  width: 33.33%;
  padding: 30px;
  font-size: 17px;
}

.button {
  display: inline-block;
  padding: 18px 22px;
  margin-top: 20px;

  background-color: transparent;
  color: #926239;

  border: 2px solid #926239;

  text-decoration: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}

.button:hover {
  background-color: #926239;
  color: #ffffff;
}
